.avatar {
  height: 50px;
  width: 50px;
}

.file_icon {
  height: 40px;
  width: 40px;
}

.attach_file {
  text-decoration: none;
  color: $light_black;
  font-family: $quicksand;
  font-weight: 500;
  font-size: 1em;
}


